script(src='/javascripts/jquery.js')
script(src='/javascripts/underscore.js')
script(src='/javascripts/eventable.js')
script(src='/javascripts/sir-trevor.js')
script(src='/javascripts/jquery.form.js')

script(src='/javascripts/bootstrap/bootstrap.js')

include sir-trevor
include tabs