script(src='/javascripts/jquery.js')
script(src='/javascripts/jquery.form.js')
script(src='/javascripts/tinymce/tinymce.min.js')
script(src='/javascripts/fileupload/jquery.iframe-transport.js')
script(src='/javascripts/fileupload/jquery.ui.widget.js')
script(src='/javascripts/fileupload/jquery.fileupload.js')
script(src='/javascripts/bootstrap/bootstrap.js')
include tinyMCE
include fileUpload
include tabs