//script(src='/javascripts/jquery.js')



script(src='/javascripts/jquery.form.js')
script(src='/javascripts/jquery.datetimepicker.js')
//script(src='/javascripts/bootstrap/bootstrap.js')

include copy-content
include sir-trevor
include tabs
include datetime