extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'report';
  - var menuSection = 'exams';
block content
    .row    
        +pageHeader()
            | Выберите тип протокола
            
    .row
        +mainCard('Информация')
            div(ng-app="reportApp")
                .row    
                    div.col
                        a.btn.btn-primary(ui-sref='report1') Протокол вступительного испытания
                        &nbsp;
                        a.btn.btn-primary(ui-sref='report2') Статистика экзамена
                        &nbsp;
                        a.btn.btn-primary(ui-sref='report3') Статистика по двум экзаменам
                        &nbsp;
                        a.btn.btn-primary(ui-sref='report4') Протокол о зачислении
                        &nbsp;       
                .row
                    .col
                        ui-view      
                              
                      
    
block scripts
    include reportApp