extends ../adminLayout

block content
    div.page-header
        h1 Настройки
    form(method='post', action='/admin/settings/')
        div.form-group
            .checkbox
                label
                    input#showPupilCabinet(name="showPupilCabinet", type="checkbox", checked=(docs && docs.showPupilCabinet))
                    | showPupilCabinet
        div.form-group
            .checkbox
                label
                    input#showStats(name="showStats", type="checkbox", checked=(docs && docs.showStats))
                    | Показать конкурс на главной

        div.form-group
            label Дата конца регистрации
            input#registrationEndDate.form-control(name="registrationEndDate", type="text", value=(docs && docs.registrationEndDate))
        div.form-group
            label Дата конца регистрации, когда уже точно нельзя будет подать заявку
            input#confirmationEndDate.form-control(name="confirmationEndDate", type="text", value=(docs && docs.confirmationEndDate))
        div.form-group
            a.btn.btn-primary(href='/admin/settings/calculateStats') Пересчитать статистику
        hr
        div.form-group
            label Ссылка на правила приёма
            input#rulesLink.form-control(name="rulesLink", type="text", value=(docs && docs.rulesLink))
        div.form-group
            label Правила приёма
            textarea#rulesHTML.form-control(name="rulesHTML", rows="10")
                | #{docs && docs.rulesHTML}

        hr
        h3 eMails
        .row
            div.form-group.col-sm-6
                label Первый email
                input#email1.form-control(name="email1", type="text", value=(docs && docs.email1))
                label Первый email - пароль
                input#email1Pass.form-control(name="email1Pass", type="text", value=(docs && docs.email1Pass))
            div.form-group.col-sm-6
                label Втрой email
                input#emai21.form-control(name="email2", type="text", value=(docs && docs.email2))
                label Втрой email - пароль
                input#email2Pass.form-control(name="email2Pass", type="text", value=(docs && docs.email2Pass))
            div.form-group.col-sm-6
                label Третий email
                input#email3.form-control(name="email3", type="text", value=(docs && docs.email3))
                label Третий email - пароль
                input#email3Pass.form-control(name="email3Pass", type="text", value=(docs && docs.email3Pass))
            div.form-group.col-sm-6
                label Четвертый email
                input#email4.form-control(name="email4", type="text", value=(docs && docs.email4))
                label Четвертый email - пароль
                input#email4Pass.form-control(name="email4Pass", type="text", value=(docs && docs.email4Pass))
        hr
        h3 WEBSMS
        .row
            .form-group.col-lg-6
                label Login
                input#websmsLogin.form-control(name="smsAPILogin", type="text", value=(docs && docs.smsAPILogin))
            .form-group.col-lg-6
                label API-key(
                    a(href="https://websms.by/") можно узнать тут
                    | )
                input#websmsKey.form-control(name="smsAPIKey", type="text", value=(docs && docs.smsAPIKey))
            .form-group.col-lg-6
                label От этого имени придут смс
                input#websmsName.form-control(name="smsAPIName", type="text", value=(docs && docs.smsAPIName))
            .form-group.col-lg-6
                label Секретный код подтверждения
                input#websmsSecretCode.form-control(name="smsAPISecretCode", type="text", value=(docs && docs.smsAPISecretCode))

        hr
        h3 reCAPTCHA
        .row
            .form-group.col-lg-6
                label Ключ (
                    a(href="https://www.google.com/recaptcha/admin") можно узнать тут
                    |)
                input#reSiteKey.form-control(name="reSiteKey", type="text", value=(docs && docs.reSiteKey))
        hr
        div.form-group
            label Супер пароль
            input#superPassword.form-control(name="superPassword", type="text", value=(docs && docs.superPassword))
        hr
        div.form-group
            label clientAppName
            input#clientAppName.form-control(name="clientAppName", type="text", value=(docs && docs.clientAppName))
        div.form-group
            label clientAppSecret
            input#clientAppSecret.form-control(name="clientAppSecret", type="text", value=(docs && docs.clientAppSecret))
        
        h3 ConsoleAPI
        div.form-group
            label Private Key            
            textarea#privateAPIKey.form-control(name="privateKey", rows=5) #{docs.private_key}
                
        div.form-group
            label Client Email            
            input#clientAPIEmail.form-control(name="client_email", type="text", value=(docs && docs.client_email))
        div.form-group
            label Client Secret            
            input#clientAPISecret.form-control(name="client_secret", type="text", value=(docs && docs.client_secret))
        div.form-group
            label Client Id            
            input#clientAPIId.form-control(name="client_id", type="text", value=(docs && docs.client_id))
        div.form-group
            label Redirect Uri            
            input#redirectURI.form-control(name="redirect_uris", type="text", value=(docs && docs.redirect_uris))
        div.form-group
            label Scope            
            input#scope.form-control(name="scope", type="text", value=(docs && docs.scope))

        div.row
            div.col.col-lg-12
                input.btn.btn-default(type='submit', value='Save')

block scripts
    include ../stuff/adminScriptBlock

    script
        $('#registrationEndDate').datetimepicker();
        $('#confirmationEndDate').datetimepicker();