extends ../adminLayout

block content
    div.page-header
        h1 Настройки
    form(method='post', action='/admin/settings/')
        .form-group
            h2 Настройки личного кабинета
        div.form-group
            a.btn.btn-primary(href='/admin/settings/calculateStats') Пересчитать статистику    
        div.form-group
            .checkbox
                label
                    input#showPupilCabinet(name="showPupilCabinet", type="checkbox", checked=(docs && docs.showPupilCabinet))
                    | showPupilCabinet
        div.form-group
            .checkbox
                label
                    input#showStats(name="showStats", type="checkbox", checked=(docs && docs.showStats))
                    | Показать конкурс на главной
        hr
        .form-group
            h3 Даты
        .row
            .col-sm-12
                h4 Регистрация
            div.form-group.col-sm-6
                label Конец регистрации
                input#registrationEndDate.form-control(name="registrationEndDate", type="text", value=(docs && docs.registrationEndDate))
            div.form-group.col-sm-6
                label Уже точно конец
                input#confirmationEndDate.form-control(name="confirmationEndDate", type="text", value=(docs && docs.confirmationEndDate))
        .row
            .col-sm-12
                h4 Резарвный день
            div.form-group.col-sm-6
                label Дата резервного дня
                input#reservedDayDate.form-control(name="reservedDayDate", type="text", value=(docs && docs.reservedDayDate))   
            div.form-group.col-sm-6
                label Дата конца приема справок
                input#absentDocumentsDate.form-control(name="absentDocumentsDate", type="text", value=(docs && docs.absentDocumentsDate))    
        .row
            .col-sm-12
                h4 Итоги вступительной кампании
            div.form-group.col-sm-6
                label Дата появления итогов
                input#totalResultsDate.form-control(name="totalResultsDate", type="text", value=(docs && docs.totalResultsDate))
            div.form-group.col-sm-6
                label Дата до конца приема документов поступивших
                input#endDocumentsDate.form-control(name="endDocumentsDate", type="text", value=(docs && docs.endDocumentsDate))        
            
        hr
        .form-group
            h3 Правила приёма
        .row    
            div.form-group.col-sm-12
                label Ссылка на правила приёма
                input#rulesLink.form-control(name="rulesLink", type="text", value=(docs && docs.rulesLink))
            div.form-group.col-sm-6
                label Пункт правил про олимпиадные предметы
                input#rulesOlympPoint.form-control(name="rulesOlympPoint", type="text", value=(docs && docs.rulesOlympPoint)) 
            div.form-group.col-sm-6
                label Пункт правил про преимущественное право на зачисление
                input#rulesHalfPassPoint.form-control(name="rulesHalfPassPoint", type="text", value=(docs && docs.rulesHalfPassPoint))        
        div.form-group
            label Правила приёма
            textarea#rulesHTML.form-control(name="rulesHTML", rows="10")
                | #{docs && docs.rulesHTML}

        hr
        div.form-group
            label Супер пароль
            input#superPassword.form-control(name="superPassword", type="text", value=(docs && docs.superPassword))
        hr
        .form-group
            h3 Для зачисленных
        .row
            .form-group.col-sm-6
                label Анкета для рекомендованных к зачислению
                p (ссылка на google doc)
                input#anketaLink.form-control(name="anketaLink", type="text", value=(docs && docs.anketaLink))
            .form-group.col-sm-6
                label Сообщение, которое появится у всех зачисленных
                p (например, приглашение на "Hello, карапузы")
                textarea#helloMessage.form-control(name="helloMessage", rows="4")
                    | #{docs && docs.helloMessage}
        hr  
        .form-group
            h3 eMails
            p Мы используем “application-specific password” для лучшей безопасности
            p За подробностями можно оборатиться к 
                a(href="https://lyceumbsu.atlassian.net/wiki/spaces/WEBSITE/pages/4030500/gmail", target="_blank") страничке на Confluence
        .row
            div.form-group.col-sm-6
                label Первый email
                input#email1.form-control(name="email1", type="text", value=(docs && docs.email1))
                label Первый email - пароль
                input#email1Pass.form-control(name="email1Pass", type="text", value=(docs && docs.email1Pass))
            div.form-group.col-sm-6
                label Втрой email
                input#emai21.form-control(name="email2", type="text", value=(docs && docs.email2))
                label Втрой email - пароль
                input#email2Pass.form-control(name="email2Pass", type="text", value=(docs && docs.email2Pass))
            div.form-group.col-sm-6
                label Третий email
                input#email3.form-control(name="email3", type="text", value=(docs && docs.email3))
                label Третий email - пароль
                input#email3Pass.form-control(name="email3Pass", type="text", value=(docs && docs.email3Pass))
            div.form-group.col-sm-6
                label Четвертый email
                input#email4.form-control(name="email4", type="text", value=(docs && docs.email4))
                label Четвертый email - пароль
                input#email4Pass.form-control(name="email4Pass", type="text", value=(docs && docs.email4Pass))
        hr
        .form-group
            h3 WEBSMS
        .row
            .form-group.col-lg-6
                label Login
                input#websmsLogin.form-control(name="smsAPILogin", type="text", value=(docs && docs.smsAPILogin))
            .form-group.col-lg-6
                label API-key(
                    a(href="https://websms.by/") можно узнать тут
                    | )
                input#websmsKey.form-control(name="smsAPIKey", type="text", value=(docs && docs.smsAPIKey))
            .form-group.col-lg-6
                label От этого имени придут смс
                input#websmsName.form-control(name="smsAPIName", type="text", value=(docs && docs.smsAPIName))
            .form-group.col-lg-6
                label Секретный код подтверждения
                input#websmsSecretCode.form-control(name="smsAPISecretCode", type="text", value=(docs && docs.smsAPISecretCode))

        hr
        .form-group
            h2 Технические вещи
        .form-group
            h3 reCAPTCHA
        .row
            .form-group.col-lg-6
                label Ключ (
                    a(href="https://www.google.com/recaptcha/admin") можно узнать тут
                    |)
                input#reSiteKey.form-control(name="reSiteKey", type="text", value=(docs && docs.reSiteKey))
        hr    
        div.form-group
            label clientAppName
            input#clientAppName.form-control(name="clientAppName", type="text", value=(docs && docs.clientAppName))
        div.form-group
            label clientAppSecret
            input#clientAppSecret.form-control(name="clientAppSecret", type="text", value=(docs && docs.clientAppSecret))
        div.row
            div.col.col-lg-12
                input.btn.btn-default(type='submit', value='Save')

block scripts
    include ../stuff/adminScriptBlock

    script
        $('#registrationEndDate').datetimepicker();
        $('#confirmationEndDate').datetimepicker();
        $('#absentDocumentsDate').datetimepicker();
        $('#reservedDayDate').datetimepicker();
        $('#totalResultsDate').datetimepicker();
        $('#endDocumentsDate').datetimepicker();
        