extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'committees';
  - var menuSection = 'exams';
block content
    form.form-horizontal(method='post', action= method === 'put' ? '/admin/pupils/committees/' + doc.id : '/admin/pupils/committees' )
        if method === 'put'
            input(type="hidden", name="_method", value="put")
        .row    
            +pageHeader()
                if method === 'put' 
                    | Редактирование комиссии
                else
                    | Новая комиссия
                
            .col-md-5.text-right
                +buttonSet('/admin/pupils/committees') 
        
        .row
            +mainCard('Информация')
                +field('select', "subject", 'Предмет', subjects, doc.subject)(value= doc.subject || '')
                +field('text', "head", 'Председатель')(value= doc.head || '')
                +field('textarea', "staff", 'Члены')(rows=5)
                    !=(doc.staff || '')
        

block scripts
