include ../stuff/mixins/form-helper
extends ../adminLayout

block content
    div.page-header
        if doc.name
            h1 Редактирование комиссии
        else
            h1 Новая комиссия
    form.form-horizontal(method='post', action= method === 'put' ? '/admin/pupils/committees/' + doc.id : '/admin/pupils/committees' )
        if method === 'put'
            input(type="hidden", name="_method", value="put")
        div.row
            div.panel.panel-default
                +field('select', "subject", 'Предмет', subjects, doc.subject)(value= doc.subject || '')
                +field('text', "head", 'Председатель')(value= doc.head || '')
                +field('textarea', "staff", 'Члены')
                    !=(doc.staff || '')
        
        +buttonSet

block scripts
    include ../stuff/adminScriptBlock