include ../stuff/mixins/form-helper
extends ../adminLayout

block content
	style
		#progress {
			width: 200pxß
		}
		.bar {
			height: 18px;
			background: green
		}
		.file {
			position: relative;
			background: linear-gradient(to right, lightblue 50%, transparent 50%);
			background-size: 200% 100%;
			background-position: right bottom;
			transition:all 1s ease;
		}
		.file.done {
			background: lightgreen;
		}
		.file a {
			display: block;
			position: relative;
			padding: 5px;
			color: black;
		}
	
	h1 Проверка загруженных фото

	.row
		.col-xs-12
			.form-group
			
				input#fileupload(type="file", name="resultScan", data-url="/admin/pupils/profiles/results/tempImages/"+id+"/"+examNumber, multiple)
				| "/admin/pupils/profiles/results/tempImages/"+id+"/"+examNumber
				| "https://xfc65yvpd9.execute-api.ca-central-1.amazonaws.com/prod/upload"
	.row
		.col-xs-12
			div#uploads

	//table.table.table-hover
		- each doc in docs
			tr
				td
					.resultScanImgContainer
						img.resultScanImg(src='/files/temp_#{doc.name}')
		 		td
					input(type="text", value=doc.ID, style="font-size: 20px;")

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script( src="/javascripts/jquery_fileupload/js/vendor/jquery.ui.widget.js")
	script( src="/javascripts/jquery_fileupload/js/jquery.iframe-transport.js")
	script( src="/javascripts/jquery_fileupload/js/jquery.fileupload.js")
	script
		

		
		$('#fileupload').fileupload({
				multipart: "true",
				add: function(e, data) {
					data.context = $('<div class="file">')
						.text(data.files[0].name + " " + "Загрузка...")
						.appendTo('#uploads');
					
					data.submit();
				},
				progress: function(e, data) {
					var progress = parseInt((data.loaded / data.total) * 100, 10);
					data.context.css("background-position-x", 100 - progress + "%");

					if (progress === 100) {
						data.context.text(data.files[0].name + " " + "Распознавание...")
					}
				},
				done: function(e, data) {
					console.log(data.result.files[0])
					data.context
						.addClass("done")
						//.find("a")
						//.prop("href", data.result.files[0].name)
						//.end()
						//.find("div")
						.html("<div class='resultScanImgContainer'>" + 
							"<img class='resultScanImg' src='/admin/scanFiles/small_" + data.result.files[0].response.data.key + "'>" +
							"</div>" + data.result.files[0].ID)
				}
		});
		/*$('#fileupload').bind('fileuploadsubmit', function (e, data) {
			console.log('e', e, data.files[0].name)
			data.formData = {
				filename: data.files[0].name
			}
		});*/
