extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'subjects';
  - var menuSection = 'exams';

block content
    +listPageHeader('Предметы', 'Добавить предмет', '/admin/pupils/subjects/create')
    .row
        +mainCard('Список мест')
            .table-responsive
                table.table.table-hover
                    thead.text-primary
                        tr
                            th.text-center #
                            th Название
                            th.text-right Действия
                    tbody
                        each doc, index in docs
                            tr
                                td.text-center #{index + 1}
                                td= doc.name
                                td.text-right 
                                    a.btn.btn-success.btn-icon.btn-sm(href="/admin/pupils/subjects/edit/"+doc.id, type='button', rel='tooltip', data-original-title='Редактировать', title='Редактировать')
                                        i.fa.fa-edit
                                    | #{' '}    
                                    a.delete-doc-btn.btn.btn-danger.btn-icon.btn-sm(href="/admin/pupils/subjects/delete/"+doc.id, type='button', rel='tooltip', data-original-title='Удалить', title='Удалить')
                                        i.fa.fa-times 