extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'subjects';
  - var menuSection = 'exams';

block content
    form.form-horizontal(method='post', action= method === 'put' ? '/admin/pupils/subjects/' + doc.id : '/admin/pupils/subjects' )
        if method === 'put'
            input(type="hidden", name="_method", value="put")
        .row    
            +pageHeader()
                if method === 'put' 
                    | Редактирование предмета
                else
                    | Новый предмет
                
            .col-md-5.text-right
                +buttonSet('/admin/pupils/subjects') 
        
        .row
            +mainCard('Информация')
                +field('text', "name", 'Название')(value= doc.name || '')

block scripts
