include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

extends ../adminLayout
append menuVars
  - var menuPage = 'subjects';
  - var menuSection = 'exams';

block content
    form#dataForm.form-horizontal(method='post', action= method === 'put' ? '/admin/pupils/subjects/' + doc.id : '/admin/pupils/subjects' )
        if method === 'put'
            input(type="hidden", name="_method", value="put")
        .row    
            +pageHeader()
                if method === 'put' 
                    | Редактирование предмета
                else
                    | Новый предмет
                
            .col-md-5.text-right
                +buttonSet('/admin/pupils/subjects') 
        
        .row
            +mainCard('Информация')
                +field('text', "name", 'Название')(value= doc.name || '')
                +field('date', "date", 'Дата')(value=(doc && doc.date))#date
                +field('time', "startTime", 'Время начала экзамена')(value=(doc && doc.startTime))#startTime
                +field('date', "appelationDate", 'Дата ознакомления')(value=(doc && doc.appelationDate))#appelationDate
                +field('text', "examKey", 'Ключ первого экзамена')(value= doc.examKey || '')
                +field('select', "place", 'Место проведение', places, doc.place)(value= doc.place || '')

block scripts
