doctype 5
html
  head
    title title
    
    //link(rel='stylesheet', href='/stylesheets/bootstrap.css')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/adminStyle.css')
    link(rel='stylesheet', href='/stylesheets/sir-trevor.css')
    link(rel='stylesheet', href='/stylesheets/sir-trevor-icons.css')
    link(rel="stylesheet", href="/stylesheets/jquery.datetimepicker.css")
    link(rel="stylesheet", href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css")
    
  body
    div.navbar.navbar-inverse.bs-docs-nav
      div.container-fluid
        .navbar-header
          a.navbar-brand(href="/admin") Админка
        div.collapse.navbar-collapse.bs-navbar-collapse
            if (locals.logged == 'logged')
              ul.nav.navbar-nav
                li
                  a(href="/admin/news") Новости
                li
                  a(href="/admin/congratulations") Поздравления
                li
                  a(href="/admin/media") Лицей в СМИ
                li
                  a(href="/admin/pages") Страницы
                li
                  a(href="/admin/contacts") Контакты
                li
                  a(href="/admin/files") Файлы
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown", role="button") Приёмная комиссия <span class="caret"></span>
                  ul.dropdown-menu
                    li
                      a(href="/admin/pupils#/page=1&itemsPerPage=30") Абитуриенты
                    li
                      a(href="/admin/pupils/profiles") Профили
                    li
                      a(href="/admin/pupils/subjects") Предметы
                    li
                      a(href="/admin/pupils/history") История
                    li
                      a(href="/admin/pupils/test") Форма для тестов

                li
                  a(href="/admin/users") Пользователи
                li
                  a(href="/admin/settings") Настройки
                li
                  a(href="/admin/cash") Посмотреть кэш
              p.navbar-text.pull-right
                a.navbar-link(href="/admin/logout") Logout
    div(class= (locals.viewName && locals.viewName === 'pupil') ? 'container-fluid' : 'container')
      div.row
        div.col.col-lg-8!= locals.message
      div.row
        div.col.col-lg-12
          block content
    footer
      p 
        br
        br
    block scripts