doctype 5
html
  head
    title title
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/adminStyle.css')
    link(rel='stylesheet', href='/stylesheets/sir-trevor.css')
    link(rel='stylesheet', href='/stylesheets/sir-trevor-icons.css')
    link(rel="stylesheet", href="/stylesheets/jquery.datetimepicker.css")

  body
    div.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav
      div.container
        a.navbar-brand(href="/admin")Админка
        div.nav-collapse.collapse.bs-navbar-collapse
            if (locals.logged == 'logged')
              ul.nav.navbar-nav
                li
                  a(href="/admin/news") Новости
                li
                  a(href="/admin/congratulations") Поздравления
                li
                  a(href="/admin/media") Лицей в СМИ
                li
                  a(href="/admin/pages") Страницы
                li
                  a(href="/admin/contacts") Контакты
                li
                  a(href="/admin/files") Файлы
                li
                  a(href="/admin/users") Пользователи
                li
                  a(href="/admin/cash") Посмотреть кэш
              p.navbar-text.pull-right
                a.navbar-link(href="/admin/logout") Logout
    div.container
      div.row
        div.col.col-lg-8!= locals.message
      div.row
        div.col.col-lg-8
          block content
    footer
      p 
        br
        br
    block scripts