include layout/header

	block content
		div#main.index
			-var docs = ndocs;
			include news/index
			-docs = cdocs;
			include congratulations/index
			-docs = mdocs;
			include media/index
include layout/footer