doctype 5
html(lang= locals.lang || "ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    //-if (doc !== undefined)
    //-    title= translate("Лицей БГУ") + " | " + doc.name[locals.lang || "ru"]
    
    //meta(name='keywords', content= "#{doc.keywords[locals.lang || "ru"] || ''}")
    //meta(name='description', content= "#{doc.description[locals.lang || "ru"] || ''}")

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26515026-1']);
        _gaq.push(['_setDomainName', 'lyceum.by']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    //div#flash
    div#container
        include layout/sidebar
        div#main.page
            //-#content
            block content
    include layout/footer