doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title= translate("Лицей БГУ") + " | " + doc.name[locals.lang || "ru"]
    
    meta(name='keywords', content= "#{doc.keywords[locals.lang || "ru"]}")
    meta(name='description', content= "#{doc.description[locals.lang || "ru"]}")

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#flash
    div#container
        div#sidebar
            include menu/mainMenu
        
        div#main.page
            ol.breadcrumb
                include menu/breadcrumbs
            hr.colored
            block caption
            include menu/subMenu
            section#content.col-3
                block content
//    include layout/footer