extends layout/headerStats

block content
    a(href='#')#logo
        img(src="/img/logo404.png")
    div(ng-app="sotkaApp", ng-controller="sotkaController")
        div.list-container
            ul
                li(ng-repeat="profile in profiles", ng-class="style.left == $index ? 'active' : ''")
                    h2 {{profile.common ? '' : 'профиль'}}
                    h1 {{profile.name}}
                    div.row
                        div.col-6.left
                            div.text-left
                                | Количество мест: 
                                span {{profile.ammount}}
                                br
                                | Количество заявлений: 
                                span {{profile.countArray[profile.countArray.length - 1].count}}
                                br
                                | Без экзаменов: 
                                span {{profile.olymp}}
                        div.col-6.concurse
                            | Конкурс:
                            h3 {{((profile.countArray[profile.countArray.length - 1].count - profile.olymp) / (profile.ammount - profile.olymp)).toFixed(2)}}
                        br
                        div.col-12(id="{{'graph' + $index}}")
        div.buttons-container
            ul
                li(ng-repeat="profile in profiles")
                    button(ng-click="moveToItem($index)", ng-class="style.left == $index ? 'active' : ''") {{profile.name}}
    button#reloadButton