@font-face{font-family:'GothamPro';font-style:normal;font-weight:700;src:url('../fonts/gothaprobol.eot');src:url('../fonts/gothaprobol.eot') format('embedded-opentype'),
url('../fonts/gothaprobol.woff') format('woff'),
url('../fonts/gothaprobol.ttf') format('truetype'),
url('../fonts/gothaprobol.svg#GothamProBold') format('svg');}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{display:block;}
canvas,
video{display:inline-block;*display:inline;*zoom:1;}
html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;background:#f1f1f1;font-family:'PT Sans', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.4;color:#111;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h2{margin:12px 0;}
h3{line-height:20px;font-size:20px;margin:0 0 5px 0;}
#content h3 {margin-bottom: 20px;}
h4{margin:0 0 15px 0;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
p{margin:0 0 30px 0;}
q{quotes:none;}
q:before,
q:after{content:'';content:none;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dd{margin:0 0 0 40px;}
nav ul,
nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],
html input[disabled]{cursor:default;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
h1,
h2,
h3,
h4,
nav,
.more-link,
.preview span,
.breadcrumb > li,
.sub-menu a{font-family:GothamPro;}
hr{font-size:18px;}
nav a,
nav li.active,
.more-link,
.to-full-page,
#lang-picker a,
#lang-picker span,
.breadcrumb >li a,
footer small a{text-decoration:none;color:#111;}
footer small a{text-decoration:underline;}
.flash,
section h2 > a,
footer small a:hover{text-decoration:none;}
.flash h2{text-transform:uppercase;color:#fff;line-height:40px;font-size:40px;font-weight:bold;}
.flash p{color:#bebdbb;line-height:30px;font-size:22px;}
nav a, nav li.active{font-size:13px;font-weight:bold;text-transform:uppercase;}
.sub-menu a{text-decoration:none;font-size:14px;line-height:35px;color:#111;}
.page h1{font-size:49px;line-height:49px;text-transform:none;}
.page h2{font-size:20px;line-height:36px;text-transform:none;}
.page h2 a, .page h3 a{color:#111;text-decoration:none;}
aside h2,
.page aside h2{margin-bottom:8px;font-size:13px;text-transform:uppercase;color:#898989;}
h2{font-size:14px;line-height:14px;text-transform:uppercase;}
.news-item{font-size:15px;}
.news-item.no-header{font-size:18px;line-height:24px;}
.news-item .time{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;line-height:12px;font-size:12px;color:#898989;}
.news-item h3{font-size:20px;line-height:25px;word-wrap:break-word;}
.more-link{font-size:11px;line-height:11px;text-transform:uppercase;}
.top-news .more-link{font-size:13px;line-height:13px;}
.section-bottom .more-link{font-size:14px;line-height:14px;}
.preview span{line-height:12px;font-size:11px;text-transform:uppercase;}
aside.style-grey h2{margin-bottom:15px;line-height:14px;font-size:14px;}
.style-grey .news-item h3{font-size:14px;text-transform:uppercase;}
h3#facebook{text-transform:uppercase;color:#3b5998;}
h3#vk{text-transform:uppercase;color:#5b7fa6;}
h3#twitter{text-transform:uppercase;color:#00abf0;}
h3#youtube{text-transform:uppercase;margin-top:28px;}
h3#youtube span{color:#ed1c24;}
#lang-picker a, #lang-picker span{font-family:Arial, sans-serif;font-size:10px;text-transform:uppercase;}
#lang-picker .active, #lang-picker a:hover{color:#fff;}
.breadcrumb > li{font-size:14px;line-height:14px;text-transform:uppercase;color:#2dc6f4;}
.style-green .breadcrumb > li{color:#82d120;}
.style-yellow .breadcrumb > li{color:#f1cc32;}
section h2 > a:hover, section h3 > a:hover{text-decoration:underline;}
#content{font-size:16px;line-height:26px;margin-left:0;}
.top-news.news-item h3{font-size:40px;line-height:44px;}
footer p{font-size:15px;line-height:23px;color:#363636;}
footer small{font-size:12px;line-height:20px;color:#898989;}
footer p a:hover{color:#a4a4a4;}
table th{text-align:left;}
.table th,
table th,
.table tr td:first-child{font-family:Arial, sans-serif;font-size:13px;font-weight:bold;}
.table td,
table td,
.table th:first-child,
.table.contacts th{font-family:Arial, sans-serif;font-size:13px;font-weight:normal;color:#898989;}
.table.contacts td{vertical-align:top;height:65px;color:#111;padding-top:18px;line-height:15px;}
.table.contacts td a{color:#111;}
.th-1{width:170px;}
.th-2{width:230px;}
.th-3{width:80px;}
.olympic span{font-size:9px;text-align:center;line-height:30px;color:#111;}
*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#sidebar,
#main,
.col-1,
.col-2,
.col-3,
nav li.active,
.breadcrumb > li,
.sub-menu > li,
.section-bottom .more-link,
aside li,
#footer-logo{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
ol,
ul{margin-top:0;padding:0;}
h2{margin-top:0;}
hr.dotted,
#content hr.dotted,
.page aside hr.dotted{border:none;background:url('../img/hr-background.gif') repeat;height:1px;margin:0 0 25px 0;}
hr.colored{margin:0 0 10px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:none;height:6px;}
#main hr.colored{margin-bottom:28px;}
aside hr.colored{margin-bottom:40px;}
.large h3{font-size:13px;line-height:13px;margin-bottom:30px;}
#flash,
#container,
footer{width:1000px;margin:0 auto;position:relative;background:#fff;}
#flash{height:200px;text-align:center;}
.flash{top:0;position:absolute;display:block;width:100%;height:200px;background:url('../img/flash-bg.png');}
#flash h2{margin:60px auto 10px auto;}
#flash p{margin:0 auto 5px auto;}
#flash .close{width:30px;height:30px;position:absolute;top:10px;right:10px;background:url('../img/close.png') 0 0 no-repeat;}
#flash .close:hover{background:url('../img/close.png') 0 -30px no-repeat;}
#container{padding:30px 0 30px 0;}
#sidebar, #footer-logo{padding:0 40px;}
#sidebar{width:240px;}
#footer-logo{width:240px;float:left;}
header a{text-decoration:none;text-align:center;}
#logo{width:160px;height:158px;}
header h1{font-family:'PT Sans Caption', sans-serif;font-size:13px;font-weight:400;color:#111;line-height:16px;margin-top:1px;margin-bottom:14px;}
#lang-picker{width:130px;height:36px;margin:0 auto 15px auto;padding:13px 0 36px 0;text-align:center;}
#lang-picker a, #lang-picker span{height:30px;float:left;width:30px;display:block;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;padding-top:8px;margin:0 0 0 10px;border:1px solid #dedddd;}
#lang-picker .active{border:1px solid #df3b49;background:#df3b49;}
#lang-picker a:hover{border:1px solid #cdcdcd;background:#cdcdcd;}
nav{width:170px;}
nav.fixed{position:fixed;top:0;}
nav.fixed.bottom{position:absolute;top:auto;bottom:0;}
nav li{display:block;margin-bottom:15px;}
nav li.active{margin-left:-5px;margin-bottom:12px;margin-right:-5px;padding:3px 5px 1px 5px;background:#df3b49; color:#fff;}
nav li a:hover{color:#939393;}
#menu ul{margin:0 0 25px 0;}
#sub-sites span{width:28px;margin:0;height:28px;display:block;float:left;}
#sub-sites .e-icon{background:url('../img/site-icons.png') 0 -26px no-repeat;}
#sub-sites .ct-icon{background:url('../img/site-icons.png') 0 0px no-repeat;}
#search-form{margin:20px 0 30px 0;padding:0;}
#search-form input{line-height:20px;height:18px;width:126px;padding:5px 27px 5px 5px;border:1px solid #dddcdc;background:url(../img/search.png) 130px 5px no-repeat;}
#search-form input:focus{background:url(../img/search-active.png) 130px 5px no-repeat;}
#main{padding-top:8px;}
.breadcrumb{list-style:none;margin:8px 0 15px 0;line-height:14px;}
.breadcrumb > li + li:before{padding:0 5px;color:#cccccc;content:"\2192";}
section .breadcrumb{margin-top:0;}
.index .breadcrumb{margin-left:20px;}
.sub-menu{margin:0 0 40px -20px;padding-left:0;}
.sub-menu > li{width:300px;margin-left:20px;}
section{position:relative;}
section h2{margin-bottom:30px;}
section h2.caption{margin-bottom:15px;}
.page h1{padding-top:8px;margin-bottom:30px;}
.style-blue h2, .style-blue a{color:#2dc6f4;}
.style-blue hr, .page hr{background:#2dc6f4;}
.style-blue .to-full-page *:hover, .style-blue .to-full-page:hover, a.more-link:hover.style-blue{color:#2dc6f4;}
.style-green h2, .style-green a{color:#82d120;}
.style-green hr{background:#82d120;}
.style-green .to-full-page *:hover, .style-green .to-full-page:hover, a.more-link:hover.style-green{color:#82d120;}
.style-yellow h2, .style-yellow a{color:#f1cc32;}
.style-yellow hr{background:#f1cc32;}
.style-yellow .to-full-page *:hover, .style-yellow .to-full-page:hover, a.more-link:hover.style-yellow{color:#f1cc32;}
aside.front h2 {margin-top: -2px}
aside.style-grey h2, .style-grey a{color:#898989;padding-bottom:0;}
.style-grey hr.colored{background:#898989;}
.style-grey .to-full-page *:hover, .style-grey .to-full-page:hover, a.more-link:hover.style-grey{color:#282828;}
a.to-full-page, a.more-link{color:#111;}
.more-link{display:block;padding:12px 0 14px 27px;}
.style-blue .top-news .more-link{padding:13px 0 14px 27px;background:url('../img/more-arrow.png') 0 9px no-repeat;}
.more-link.style-blue span{background:url('../img/circle-b.png') 0 0 no-repeat;}
.more-link.style-green span{background:url('../img/circle-g.png') 0 0 no-repeat;}
.more-link.style-yellow span{background:url('../img/circle-y.png') 0 0 no-repeat;}
.section-bottom{text-align:center;width:100%;margin:22px 0 17px 0;}
.section-bottom .more-link{position:relative;padding-left:31px;}
.section-bottom .more-link span{display:block;position:absolute;top:9px;left:0;height:20px;width:20px;}
#content li {margin-left: 20px;}
#content p,
#content img,
#content table,
#content iframe{padding-top:0;margin:0 0 30px 0;}
#content h2{font-size: 30px; padding-top:0;margin:0 0 22px 0;}
#content h2:first-child{margin-top: 4px;}
#content .sharearea h2{margin-bottom:27px; margin-top: -8px; padding-top: 12px; font-size: 13px}
#content .sharearea li{margin-left:0;}
section{margin-bottom:22px;}
section,
section.col-2{padding-top:8px;margin-left:-20px;}
.page section,
.page section.col-2{padding-top:0;}
section.col-2,
.index #content.col-2{width:640px;}
#content img.narrow{margin-right: 30px;float:left;}
#content.col-2{width:620px;}
.index section#content{margin-left:-20px;}
.index section > h2,
.index section > hr{margin-left:20px;}
.col-1,
.col-2,
.col-3{margin-left:20px;}
.col-1{width:300px;}
.col-2{width:620px;}
.col-3{width:940px;}
.pushed{margin-top:458px;}
.top-news.news-item h3{margin-bottom:24px;}
.top-news.news-item img{width:300px;margin:0 0 9px 0;}
.top-news.news-item .teaser{width:300px;margin-left:20px;float:left;}
.news-item{padding:0 0 27px 0;margin-bottom:30px;line-height:22px;background:url('../img/hr-background.gif') 0 bottom repeat-x;}
.news-item.social{background:none;}
.style-grey .news-item h3{margin-top:4px;margin-bottom:21px;}
.news-item .time{display:block;width:100%;margin-bottom:16px;}
.news-item.no-header .time{margin-bottom:12px;}
.news-item h3{margin:0 0 18px 0;}
.style-yellow .news-item h3{margin:0;}
.imagelink:hover img{opacity: 0.8;}
.news-item img{width:300px;float:left;margin-bottom:5px;}
.news-item img.narrow{width:100px;margin-right:20px;}
.preview{position:relative;}
.preview span{position:absolute;background:#f1cc32;}
.news-item .preview img{float:none;}
.preview span{bottom:15px;left:0;position:absolute;padding:11px 15px 7px 15px;background:#f1cc32;}
aside{margin-top:8px;}
aside.col-3{margin-left:0;}
aside li *{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;}
aside ul{list-style-type:none;margin-left:0;padding-left:0;}
.small{margin-top:0;margin-bottom:0;}
.small li{height:30px;}
.small li a {display: block;height: 21px;text-indent: -9999px;}
.small li a:hover {opacity: 0.8}
#fb-like a {width: 91px;background: url(../img/social.png) 0 0 no-repeat;}
#vk-like a {width: 83px;background: url(../img/social.png) -91px 0 no-repeat;}
#tw-like a {width: 60px;background: url(../img/social.png) -173px 0 no-repeat;}
.large li{width:300px;height:343px;}
.large #fb-widget{height:314px}
.large #yt-widget{height:240px}
.inner .large #fb-widget {height: 270px;}
.inner .large #vk-widget {height: 300px;}
aside h2{padding-bottom:12px;}
aside.inner h2 {margin-top: -1px; margin-bottom: 26px;}
.small li{padding-right:30px;}
aside.col-1 li{margin-bottom:30px;}
aside.col-3 li + li{margin-left:19px;}
aside.col-3 h2{margin-top:50px;}
footer{margin-top:6px;padding:36px 0 17px 0;}
#footer-logo img{margin-top:4px;}
footer p{padding:5px 0 21px 0;margin:0;}
footer .col-1.first{margin-left:0;}
footer nav{margin-top:6px;}
table{width:100%}
tr{border-bottom:1px solid #e6e6e6;}
td,
th{height:50px;padding-left:10px;border-left:1px solid #e6e6e6;}
.priem td:first-child{width:30%;}
td:first-child,
th:first-child{height:50px;padding-left:0;border-left:none;}
.table.contacts th,
.table.contacts td{border-left:none;}
.olympic span{position:relative;display:block;float:left;margin-left:-4px;height:29px;width:26px;}
.olympic span:first-child{margin-left:2px;}
.sharearea{width:100%;clear:both;padding-top:0;}
.o-g{z-index:4;background:url(../img/olympic.png) 0 0 no-repeat;}
.o-s{z-index:3;background:url(../img/olympic.png) -26px 0 no-repeat;}
.o-b{z-index:2;background:url(../img/olympic.png) -52px 0 no-repeat;}
.o-d{z-index:1;background:url(../img/olympic.png) -78px 0 no-repeat;}
.o-n{z-index:1;background:url(../img/olympic.png) -102px 0 no-repeat;}
.loading{background:#f00;display:block;width:100%;height:100%;}
.ajax{opacity:0;}
.nomore{margin:0;display:none;}
#map-canvas{height:300px;margin-bottom:27px;}
.loading-start span{-webkit-animation-name:rotate;-webkit-animation-duration:2s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:rotate;-moz-animation-duration:2s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;}
@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg);}
to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate{from{-moz-transform:rotate(0deg);}
to{-moz-transform:rotate(360deg);}
}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#flash,
#container,
footer{width:1220px;}
#main{width:940px;}