extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'history';
  - var menuSection = 'exams';
block content
    .row
        +pageHeader()
            | История изменения профиля
    .row
        +mainCard('Список')
            .table-responsive
                table.table.table-hover
                    each his in histories
                        if his.pupil
                            tr
                                td #{his.pupil.email}
                                td #{his.created}
                                td!= his.message