extends ../layout/header
block content
    div#main.index
        section#content.style-green.col-2
            include ../menu/breadcrumbs-congratulations
            hr.colored
            - var d;

            div(class= locals.ajax ? 'ajax' : '').col-1
                -for (var i = 0; i < docs.length; i+=2) {
                - d = docs[i]
                include item
                -}
            div(class= locals.ajax ? 'ajax' : '').col-1
                -for (var i = 1; i < docs.length; i+=2) {
                - d = docs[i]
                include item
                -}
            include moreLink
        include ../layout/asideNews