extends ../adminLayout

block content
    div.page-header
        h1 Список поздравлений
        a.btn.btn-primary(href='/admin/congratulations/create') Добавить новое
    table.table.table-hover
      tr
        th Название
        th Создана
        th Обновлена
        th
      each n in docs
          tr
            td= n.name.ru
            td= n.createdAt.format('dd-MM-yyyy hh:mm:ss')
            td= n.updatedAt.format('dd-MM-yyyy hh:mm:ss')
            td  
              a(href="/admin/congratulations/edit/"+n.id) Редактировать
              br
              a(href="/admin/congratulations/delete/"+n.id) Удалить