include ../layout/header
    block content
        div#main.page
            include ../menu/breadcrumbs-congratulations
            hr.colored
            if doc.name[locals.lang || "ru"]
                h1= doc.name[locals.lang || "ru"]
            -locals.type = '';
            -locals.olympic = '';
            -if (doc.type[locals.lang || "ru"] === 'table') 
                - locals.type = 'table'
            -if (doc.type[locals.lang || "ru"] === 'table olimp')
                - locals.type = 'table'
                - locals.olympic = 'olympic'
            -var blocks;
            section(class= locals.type === 'table' ? 'col-3' : 'col-2')#content
                if doc.body[locals.lang || "ru"]
                    - blocks = doc.body[locals.lang || "ru"].data
                else
                    - blocks = doc.teaser[locals.lang || "ru"].data

                each block in blocks
                    case block.type
                        when "heading"
                            include ../stuff/sir/sirheading
                        when "heading3"
                            include ../stuff/sir/sirheading3
                        when "heading4"
                            include ../stuff/sir/sirheading4
                        when "video"
                            include ../stuff/sir/sirvideo
                        when "list"
                            include ../stuff/sir/sirlist
                        when "table"
                            include ../stuff/sir/sirtable 
                        when "text"
                            include ../stuff/sir/sirtext
                        when "image"
                            include ../stuff/sir/sirimage
                include ../layout/asidesmall
            include ../layout/aside
include ../layout/footer