extends ../layout/header
block content
    main(role='main')#main.page
        include ../menu/breadcrumbs-congratulations
        hr.colored
        if doc.name[locals.lang || "ru"]
            h1= doc.name[locals.lang || "ru"]
        -locals.type = '';
        -locals.olympic = '';
        -if (doc.type[locals.lang || "ru"] === 'table') 
            - locals.type = 'table'
        -if (doc.type[locals.lang || "ru"] === 'table olimp')
            - locals.type = 'table'
            - locals.olympic = 'olympic'
        -var blocks;
        section(class= locals.type === 'table' ? 'col-3 clearfix' : 'col-2 clearfix')#content
            if doc.bodynew[locals.lang || "ru"]
                - blocks = doc.bodynew[locals.lang || "ru"].blocks
            else
                - blocks = doc.teasernew[locals.lang || "ru"].blocks
            include ../stuff/sir/sirparser
            include ../layout/asidesmall
        include ../layout/aside