<h2>Настройки статистики</h2>

<div class="row">
  <form name="app.statsForm" action="" ng-submit="$event.preventDefault()">
    <div class="col-xs-6">
      <div class="form-group">
        <label>Профиль</label>
        <select name="profile" class="form-control" ng-change="app.onProfileChange(app.data.profile)"
          ng-model="app.data.profile" required>
          <option ng-repeat="x in app.profiles" ng-value="x.name">{{x.name}}</option>
        </select>
        <span style="color: red"
          ng-show="app.statsForm.profile.$error.required && app.statsForm.$submitted">Выберите
          профиль</span>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>Предмет</label>
        <select name="subject" class="form-control" ng-model="app.data.subject" required>
          <option ng-repeat="x in app.subjects" ng-value="x">{{x}}</option>
        </select>
        <span style="color: red"
          ng-show="app.statsForm.subject.$error.required && app.statsForm.$submitted">Выберите
          предмет</span>
      </div>
    </div>
    
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label>Дата</label>
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="app.data.entryDate"
                is-open="app.datePopup.opened" datepicker-options="app.dateOptions" ng-required="true"
                close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="app.openDatePopup()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12">
      <div class="form-group">
        <button class="btn btn-success" ng-click="app.onFormSubmit()" type="submit">Получить статистику</button>
        <a class="btn btn-warning" ui-sref="list">Отмена</a>
      </div>
    </div>

  </form>

  </span>