@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?csh4hy');
	src:url('../fonts/icomoon.eot?#iefixcsh4hy') format('embedded-opentype'),
		url('../fonts/icomoon.woff?csh4hy') format('woff'),
		url('../fonts/icomoon.ttf?csh4hy') format('truetype'),
		url('../fonts/icomoon.svg?csh4hy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-lock:hover:before,
.sir-commented-block .icon-lock:before {
	content: "\e98f";
}
.sir-commented-block .icon-lock:hover:before,
.icon-lock:before {
	content: "\e990";
}
body {
  position: relative;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
.article .created_at {
  display: none;
}
.article input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.article input[type =button],
.article input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
.article textarea {
  width: 490px;
  height: 90px;
}
.bs-docs-nav {
  background-color: #b94a48;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #e6cac8;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover {
  color: #fff;
  background-color: #993c3a;
}
.navbar-inverse a.navbar-link {
  color: #fff;
}
.sir-commented-block .st-block__inner{
    background: #c2c2c2;
}
