h3 Вступительная кампания в Лицей БГУ уже идет
h4 Чтобы принять участие конкурсе зарегистрируйтесь в 
    a(href="https://to.lyceum.by", target="_blank", title="Поступление в Лицей БГУ") личном кабинете абитуриента.

p
    | В 
    a(href="https://to.lyceum.by", target="_blank", title="Поступление в Лицей БГУ") личном кабинете
    | #{' '}вы можете зарегистрироваться для участия во вступительных испытаниях в Лицей БГУ, ознакомиться с расписанием вступительных экзаменов и их результатами.
p Ссылка на личный кабинет абитуриента: 
    a(href="https://to.lyceum.by", target="_blank", title="Поступление в Лицей БГУ") to.lyceum.by

//- br
//- br
//- .style-grey
//-     hr.colored
//-     h3 Как зарегистрироваться в личном кабинете
//-     iframe(width="620", height="315", src="https://www.youtube.com/embed/FlouuEuJ9XI?rel=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)