link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

div#resultsWidget
    h2 Личный кабинет абитуриента

    div#signInView.hiddenView
        p
            | В личном кабинете Вы можете зарегистрироваться для участия во вступительных испытаниях в Лицей БГУ, ознакомиться с расписанием вступительных экзаменов и их результатами.
        p
            | Для того чтобы это сделать создайте учетную запись, выберите профиль обучения и заполните информацию о себе.
        .section-card
            div.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
                div.mdl-tabs__tab-bar
                    div.mdl-tabs__tab.is-active(href="#loginForm") Вход
                    if (Date.now() < siteConfig.registrationEndDate)
                        div.mdl-tabs__tab(href="#registerForm") Регистрация
                div#loginForm.mdl-tabs__panel.is-active
                    div#userNotFoundError.error-container.hiddenView
                        p
                            | Не удается войти.
                            | Пожалуйста, проверьте правильность написания email и пароля.
                        ul
                            li Возможно, нажата клавиша CAPS-lock?
                            li Может быть, у Вас включена неправильная раскладка? (русская или английская)
                            li Попробуйте набрать свой пароль в текстовом редакторе и скопировать в поле «Пароль»
                        p
                            | Если Вы всё внимательно проверили, но войти всё равно не удается, Вы можете нажать <a class="requestPasswordView" href='#'>сюда</a>.
                    .login-form-container
                        div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#loginEmailInput.form-input.mdl-textfield__input(type="text")
                            label.mdl-textfield__label(for="loginEmailInput") Email
                        div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#loginPassInput.form-input.mdl-textfield__input(type="password")
                            label.mdl-textfield__label(for="loginPassInput") Пароль
                        div.form-input-group
                            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent#loginBtn Вход
                        div.form-input-group
                            p Забыли логин или пароль?&nbsp;
                                a.requestPasswordView(href='#') Можно восстановить!
                if (Date.now() < siteConfig.registrationEndDate)
                    div#registerForm.mdl-tabs__panel
                        div#registeredMessage.hiddenView
                            h3 Вы зарегистрированы.
                            p
                                | На адрес электронной почты, указанный в регистрационной анкете, отправлено письмо.
                                br
                                | Перейдите по ссылке в письме и тогда вы сможете пользоваться личным кабинетом абитуриента.
                        div#registerInputs.login-form-container
                            div#userExistsError.error-container.hiddenView
                                p
                                    | Пользователь с таким email адресом уже зарегистрирован!
                                    br
                                    | Пожалуйста, проверьте правильность написания email.
                            div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#registerEmailInput.form-input.mdl-textfield__input(type="email")
                                label.mdl-textfield__label(for="registerEmailInput") Email
                                span.error-message
                                    span.message-required Это поле нужно обязательно заполнить
                                    span.message-characters Похоже, что это не правильный Email
                                    span.message-maxlength Слишком много символов

                            div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#registerPassInput.form-input.mdl-textfield__input(type="password")
                                label.mdl-textfield__label(for="registerPassInput") Пароль
                                span.error-message
                                    span.message-required Это поле нужно обязательно заполнить
                                    span.message-minlength Введите как минимум 8 символов
                                    span.message-maxlength Слишком длинный пароль

                            div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#registerPassConfirmInput.form-input.mdl-textfield__input(type="password")
                                label.mdl-textfield__label(for="registerPassConfirmInput") Пароль ещё раз
                                span.error-message
                                    span.message-required Это поле нужно обязательно заполнить
                                    span.message-characters Введенные пароли не совпадают

                            .form-input-group
                                div#signInCaptcha.g-recaptcha
                                span.error-message
                                    span.message-required Подтвердите, что вы не робот
                            br
                            .form-input-group
                                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent#registerBtn Дальше

    div#passRequestView.hiddenView
        .section-card
            .login-form-container
                h3.mdl-tabs__tab-bar Восстановление пароля
                div#passReqFound.success-container.hiddenView
                    p
                        | Мы отправили вам письмо с новым паролем.
                        br
                        | Пожалуйста, проверьте свою почту.
                    br
                    a#returnToLogin(href='#') Вернуться на страницу входа
                div#passReqForm.visibleView
                    p
                        | Введите свой email и мы вышлем вам письмо с новым паролем
                    div#passReqNotFoundError.error-container.hiddenView
                        p
                            | Мы не смогли найти такой email.
                            | Пожалуйста, проверьте правильно ли вы ввели его.
                    .form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        input#passEmail.form-input.form-input.mdl-textfield__input(type="email")
                        label.mdl-textfield__label(for="passEmail") E-mail
                        span.error-message
                            span.message-required Это поле нужно обязательно заполнить
                            span.message-characters Похоже, что это не правильный Email
                            span.message-maxlength Слишком много символов
                    .form-input-group
                        div#passCaptcha.g-recaptcha(data-sitekey="6LeX2BUUAAAAAAns3g0pRiKL7TC9hlcEH-LqhcRV")
                        span.error-message
                            span.message-required Подтвердите, что вы не робот
                    br
                    .form-input-group
                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.half-width#requestCancelBtn Отмена
                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.half-width#requestPassBtn Послать письмо

    div#userView.hiddenView

    div#results(style="display: none;")

    div#notfoundError(style="display: none;")
        h3.error Что-то пошло не так!
        p Мы не смогли найти Вас. Возможно, Вы ошиблись&nbsp;-&nbsp;проверьте еще раз, правильно&nbsp;ли&nbsp;Вы&nbsp;ввели номер&nbsp;паспорта. Или&nbsp;просто&nbsp;поробуйте&nbsp;еще&nbsp;раз. 
        p Если Вы уверены, что всё&nbsp;сделали правильно, а результата всё&nbsp;равно&nbsp;нет, свяжитесь с&nbsp;нами по&nbsp;телефону 
            b 209-56-11
        p С&nbsp;уважением, Администрация&nbsp;Лицея&nbsp;БГУ!
    div.cs-loader.loading-start.page-loader
        div.mdl-spinner.mdl-js-spinner.is-active
link(rel='stylesheet', href='/css/widget.css')
script(src='/js/results.js')