- var counter = 0;
- var mod = docs.length % 3;
- var height;
- var d;
- if (mod === 0) {
-    height = docs.length / 3;
-}
-else {
-   height = (docs.length - mod) / 3;
-   height = height + 1;
-}
if counter < docs.length
    include column
if counter < docs.length
    include column
if counter < docs.length
    include column