ol.breadcrumb
	include breadcrumbHome
	if (locals.breadcrumbs)
		li
			a(href=beforeUrl + '/news.html', title=translate('Новости'))= translate('Новости')
		li.active!=translateObj(locals.breadcrumbs.name)
	else
		li.active= translate('Новости')
