- var mod = (MainMenu.length + 1) % 2
- var height;
- var counter = 0;
- var m;
- if (mod === 0) {
-    height = (MainMenu.length + 1) / 2;
-}
-else {
-   height = (MainMenu.length + 1 - mod) / 2;
-   height = height + 1;
-}
if counter <= MainMenu.length
    include footerColumn
if counter <= MainMenu.length
    include footerColumn