nav#menu(role="navigation")
    hr.dotted
    ul#sub-sites
        li
            a(href="http://ct.lyceum.by", title=translate('Подготовка к ЦТ в Лицее БГУ'))
                span.ct-icon 
                | ct.lyceum.by
        li
            a(href="http://e-lyceum.by", title=translate('Сервер Дистанционного Обучения Лицея БГУ'))
                span.e-icon 
                | e-lyceum.by
        li
            a(href="http://www.shop.lyceum.by/", title='shop.lyceum.by')
                span.shop-icon
                | shop.lyceum.by
    hr.dotted
    ul
        each m in MainMenu
            include menuElement
        include contactsElement