nav#menu(role="navigation")
    hr.dotted
    ul#sub-sites
        li
            a(href="http://ct.lyceum.by")
                span.ct-icon 
                | ct.lyceum.by
        li
            a(href="http://e-lyceum.by")
                span.e-icon 
                | e-lyceum.by
    hr.dotted
    ul
        each m in MainMenu
            include menuElement
        include contactsElement