-var cl = ''
-var l = 'ru'
-var ahref = ''
-if (locals.lang) {
-	l = locals.lang
-	ahref = '/' + l
-}
-if (activepage[l] === m.name[l]) {
-	cl = 'active'
-}
li(class= cl)
    a(href= ahref + m.path, title=m.name[l])= m.name[l]