if (locals.activepage && translateObj(locals.activepage) === translateObj(m.name))
	li.active= translateObj(m.name)
else
	li
		a(href= beforeUrl + m.path, title= translateObj(m.name))= translateObj(m.name)