include ./partials/space
div#approvedView.visibleView
    include ./partials/approvedHeader

    if (pupilViewName === 'bF')
        include  ./partials/results/bF
    if (pupilViewName === 'aFbSnoR')
        include  ./partials/results/aFbSnoR
    if (pupilViewName === 'aFbS')
        include  ./partials/results/aFbS
    if (pupilViewName === 'aSnoR')
        include  ./partials/results/aSnoR
    if (pupilViewName === 'aS')
        include  ./partials/results/aS
    if (pupilViewName === 'Total')
        include  ./partials/results/Total

    if (pupilViewName === 'passOlymp')
        include  ./partials/results/passOlymp

    include ./partials/requestApprovedView

    br
    include ./partials/attantion
    br

    include ./partials/settings

    section.view-dialog-content

        include ./partials/profileDialog

script(src='/js/pupilViews/unapproved.js')