div#newClearView.visibleView
    div.section-card
        .login-form-container
            h3 Вы зарегистрированы.
            p
                | На адрес электронной почты, указанный в регистрационной анкете, отправлено письмо.
                br
                | Перейдите по ссылке в письме и тогда вы сможете пользоваться личным кабинетом абитуриента.

            div
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.half-width#newClearCancelBtn Выход
script(src='/js/pupilViews/newClear.js')