div.fb-like-box(data-href="http://www.facebook.com/pages/Lyceum-BSU-%D0%9B%D1%96%D1%86%D1%8D%D0%B9-%D0%91%D0%94%D0%A3/129863323749319", data-colorscheme="light", data-show-faces="true", data-header="true", data-stream="false", data-show-border="true", data-height="270", data-width="300")
        