//-script(src="//vk.com/js/api/share.js?90")
script(src="//vk.com/js/api/openapi.js?105")
script(src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=347999898674931", id="facebook-jssdk")
script(src = '//platform.twitter.com/widgets.js', async = true, id= "twitter-wjs")