mixin absent(name)
	p
		b К сожалению, вы не явились на #{name} экзамен. 
	p Если на то была уважительная причина (болезнь или другие обстоятельства, которые подтверждены документально), вы имеете право пройти соответствующее вступительное испытание в резервный день <b>29 мая 2016 г.</b>. 
	p Для этого вы обязаны до <b>25 мая 2016 г.</b> подать соответствующее заявление на имя председателя приемной комиссии и документы, подтверждающие уважительную причину неявки на вступительный экзамен.
