hr.dotted
p 
	b Внимание!
	br
	| Если Вам кажется, что представленная на этой странице информация содержит&nbsp;ошибки&nbsp;и&nbsp;неточности, просим обратиться по&nbsp;телефону 
	b (017) 357-33-12
	+space()
	| или оставить предложения и замечания в специальной
	+space()
	a(href="https://docs.google.com/a/lyceum.by/forms/d/e/1FAIpQLSf7NZf52zysHc2yf4MG0CRkJeJxIlRIRtacSVMck3_kVZa1Ug/viewform", title="Форма обратной связи", target="_blank") форме
	|.
