div#profile
    h3.mdl-dialog__title Выберите профиль
    div.mdl-dialog__content
        .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label
            select#profileInput.mdl-selectfield__select(name="profileInput")
                option(value=undefined) Выберите профиль
                each profile, i in profiles
                    option(value=profile._id, selected=('+' + user.profile == '+' + profile._id), data-bel="#{profile.belLang || false}") #{profile.name}
            label.mdl-selectfield__label(for="profileInput") Профиль
        #belLang(class=((profile && profile.belLang) ? 'visibleView' : 'hiddenView'))
            p
            p
                | У вас есть возможность выбора языка заданий
                br
                | вступительных испытаний (русский или белорусский).
                br
                | В случае необходимости, выберите белорусский язык
                br
                | в качестве языка заданий.
            .form-input-group
                label#profileBelLabel.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="profileBel")
                    input#profileBel.mdl-checkbox__input(type="checkbox", checked=(user.needBel))
                    span.mdl-checkbox__label Белорусский язык заданий