div#request
    h3.mdl-dialog__title Справка из школы
    div.mdl-dialog__content
        h4 Для подачи справки из школы выполни четыре простые шага:
        ol
            li Сфотографируйся.
            li Возьми справку из школы (гимназии) в которой ты учишься, о том, что ты действительно там обучаешься. Справка должна быть с твоей фотографией и печатью школы (гимназии) на фотографии
            li Сфотографируй или отсканируй справку.
            li Загрузи изображение справки сюда.
        div.form-input-group
            input#fileUploadRequest.dropify(type="file", data-default-file=user.requestImg ? '/images/pupils/' + user.requestImg : undefined, data-show-remove="false", data-max-file-size="20M", data-allowed-file-extensions="pdf png jpg jpeg gif bmp")
