extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
	- var menuPage = 'users';
	- var menuSection = 'users';
block content
	form.form-horizontal.panel(method='post', action='/admin/users/' + u.id)
		input(name='u[id]', value=u.id, type='hidden')
		input(name='_method', value='PUT', type='hidden')
		.row    
			+pageHeader()
				| Новый пользователь
			.col-md-5.text-right
				+buttonSet('/admin/users')
		.row
			+mainCard('Информация')
		
				.form-group
					label.col.col-lg-2.control-label Username:
					div.col.col-lg-10
						input.form-control(type="text", name='name', value= u.name || '')
				.form-group
					label.col.col-lg-2.control-label Password:
					div.col.col-lg-10
						input.form-control(type="password", name='pass')
				.form-group
					label.col.col-lg-2.control-label E-mail:
					div.col.col-lg-10
						input.form-control(type="text", name='mail')
