h4 Чтобы всё было хорошо, Вам нужно до #{prettyDate(siteConfig.endDocumentsDate)} г. заполнить 
	a(href=siteConfig.anketaLink, target="_blank") анкету для рекомендованных к зачислению абитуриентов Лицея БГУ
	| #{' '}и предоставить в приемную комиссию следующие документы:
ul
	li Cвидетельство об общем базовом образовании
	li Медицинскую справку о состоянии здоровья формы №1
	li Шесть фотографий 3х4
p При подаче документов принесите с собой и конверт с обратным адресом	

if (siteConfig.helloMessage)
	h4.result-header Ещё раз поздравляем с поступлением в Лицей! 
		br
		| #{siteConfig.helloMessage}