h3 Первый экзамен закончился, впереди второй

if ((profile.firstIsFirst && user.exam1 >= 0) || (!profile.firstIsFirst && user.exam2 >= 0))
    if (profile.firstExamNoStats)
        h4 Ваш результат первого экзамена по предмету #{profile.firstIsFirst ? profile.firstExamName : profile.secondExamName}:
        h3 #{profile.firstIsFirst ? user.exam1 : user.exam2}
    else
        +resultLine(profile, user, 1)
        p
            b *
            | - текущий проходной балл по первому экзамену
        
        +appelationInfo(profile.firstIsFirst ? profile.firstExamAppelationDate : profile.secondExamAppelationDate, false)      
else
    +absent('первый', siteConfig)

hr.dotted

+secondExamPlaceReminder()

