h3 Первый экзамен закончился, но результатов пока нет

+appelationInfo(profile.firstIsFirst ?  profile.firstExamAppelationDate : profile.secondExamAppelationDate, true)

+secondExamPlaceReminder();   