h3 Второй экзамен закончился

if ((profile.firstIsFirst && user.exam1 >= 0) || (!profile.firstIsFirst && user.exam2 >= 0))
    +resultLine(profile, user, 1)
    p
        b *
        | - текущий проходной балл по первому экзамену
else
    +absent('первый')

hr.dotted

if ((profile.firstIsFirst && user.exam2 >= 0) || (!profile.firstIsFirst && user.exam1 >= 0))
    +resultLine(profile, user, 2)
    p
        b *
        | - текущий проходной балл по второму экзамену
else
    +absent('второй')

hr.dotted
h4 Абитуриенты, рекомендованные к зачислению, будут определены после подведения итогов резервного дня (29 мая).
p
    |Списки рекомендованных к зачислению будут размещены на сайте Лицея БГУ <nobr><b>31 мая в 14:00</b></nobr>.
    br
    |Кроме того, с 14:00 31 мая в личном кабинете вы сможете ознакомиться с итогами вступительной кампании, проходным и полупроходным баллами на выбранный вами профиль.