- var today = new Date();
- var year = today.getFullYear();
h3.result-header Поздравляем! 
	br 
	| Вы&nbsp;рекомендованы к&nbsp;зачислению в&nbsp;Лицей&nbsp;БГУ
h4 Чтобы всё было хорошо, Вам нужно до 21 июня #{year} г. заполнить 
	a(href="https://docs.google.com/forms/d/e/1FAIpQLSdxEwqhCRinoHc7duiA9Xs2pFqjRhcn2hXOqVtWhPwx538H5w/viewform?usp=sf_link", target="_blank") анкету для рекомендованных к зачислению абитуриентов Лицея БГУ
	| #{' '}и предоставить в приемную комиссию следующие документы:
ul
	li Cвидетельство об общем базовом образовании
	li Медицинскую справку о состоянии здоровья формы №1
	li Шесть фотографий 3х4
p При подаче документов принесите с собой и конверт с обратным адресом	