aside(class= locals.type === 'table' ? 'col-3' : 'col-1').style-grey
    h2= translate('Присоединяйтесь к нам')
    ul.large
        li#fb-widget
            include social/fb-likebox
        li#vk-widget
            include social/vk-groups
        li
            include social/twitter-follow-button
            hr.dotted
            include social/youtube