footer
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
script(src='http://code.jquery.com/jquery-1.11.0.min.js')
//-script(src='/javascripts/jquery.js')
script(src='/js/d3.js')
script(src='/js/xkcd.js')
script(src='js/statsApp.js')