- var beforeUrl = "";
if locals.lang 
    - beforeUrl = "/" + locals.lang;
doctype html
html(lang= locals.lang || "ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    
     
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")    
            
        link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Caption&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/style.css')
        
        block script

        include social/script
        include ga
        include font
        
    body
        div#fb-root
        //div#flash
        div(itemscope, itemtype="https://schema.org/LocalBusiness")#container
            div#sidebar
                header
                    a(href='#')
                        img(itemprop="image", src="/img/logo.png")#logo 
                        h1(itemprop="name")!= 'Лицей Белорусского государственного университета'.split(' ').join('<br>')
            block content
        script(src='https://code.jquery.com/jquery-1.11.0.min.js')
        script(src='/js/script.js')