div#sidebar
	header
		- var href
		if (locals.lang)
			- href = beforeUrl + "/index.html"
		else
			- href = "/"
		a(href=href, title= translate('На главную'))
			img(itemprop="image", src="/img/logo.png", alt= translate('Лицей Белорусского государственного университета'))#logo 
			h1(itemprop="name")!= translate('Лицей Белорусского государственного университета').split(' ').join('<br>')
		include langpicker
		include ../menu/mainMenu