!!! transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h2.h2 Уважаемый #{param.firstName} #{param.lastName}!

            p К сожалению, вам отказано в регистрации.
            p В <a href="http://www.lyceum.by/abiturientu.html" target="_blank">личном кабинете абитуриента</a> обратите внимание на ошибку, из-за которой Ваша регистрация на вступительные экзамены не была подтверждена.
            p Возможно, изображение справки плохого качества, возможно на справке отсутствует фотография или фотография есть, однако печать учреждения образования стоит не на фото.
            p Если Вы призер заключительного этапа Республиканской предметной олимпиады возможно Ваш диплом не позволяет поступить без экзаменов на выбранный профиль обучения.

            hr
            p С уважением,
            p Приемная комиссия
            p Лицея БГУ