!!! transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h2.h2 Добрый день.
      p Вы просили поменять Ваш пароль от личного кабинета абитуриента
      p Ваш новый пароль: <strong>#{param}</strong>

      hr
      p С уважением,
      p Приемная комиссия
      p Лицея БГУ