!!! transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h2.h2 Здравствуйте!

            p На сайте Лицея БГУ появилась регистрационная запись, в которой был указал ваш электронный адрес (e-mail).

            p Если вы не понимаете, о чем идет речь — просто проигнорируйте это сообщение!

            p Если же именно вы решили зарегистрироваться на сайте Лицея БГУ, то вам следует подтвердить свою регистрацию и тем самым активировать вашу учетную запись.
            p Подтверждение регистрации производится один раз и необходимо для повышения безопасности сайта и защиты его от злоумышленников.
            p Чтобы активировать вашу учетную запись, необходимо перейти по ссылке: <a href="#{param}">#{param}</a>.
            p Активация произойдет автоматически.
            br
            p После активации учетной записи вы сможете авторизоваться на сайте, используя выбранные вами имя пользователя (login) и пароль.
            br
            p Пожалуйста, не забудьте заполнить свои личные данные для того, чтобы принять участие во вступительных испытаниях в Лицея БГУ.
            br
            p Благодарим за регистрацию!
            p С уважением,
            p приемная комиссия Лицея БГУ

