include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards
include ../stuff/adminIntarface/lang-selector-tabs-nav

extends ../adminLayout
append menuVars
  - var menuPage = 'contacts';
  - var menuSection = 'content'
block content
    form.form-horizontal(method='post', action= method === 'put' ? '/admin/contacts/' + doc.id : '/admin/contacts' )
        if method === 'put'
            input(type="hidden", name="_method", value="put")
        .row
            +pageHeader()
                if method === 'put' 
                    | Редактирование контакта
                else
                    | Новый контакт
                
            .col-md-5.text-right
                +buttonSet('/admin/contacts')  
        
        
        .row
            +mainCard('Информация')
                +langTabs()
                    +langTab('ru')
                        +field('text', "name.ru", 'ФИО')(value= doc.name.ru || '')
                        +field('text', "occupation.ru", 'Должность')(value= doc.occupation.ru || '')
                    +langTab('by')  
                        +field('text', "name.by", 'ФИО')(value= doc.name.by || '')
                        +field('text', "occupation.by", 'Должность')(value= doc.occupation.by || '')
                    +langTab('en')
                        +field('text', "name.en", 'ФИО')(value= doc.name.en || '')
                        +field('text', "occupation.en", 'Должность')(value= doc.occupation.en || '')
            
                +field('number', 'phone', 'Телефон')(value= doc.phone || 0000000)
                +field('number', 'place', 'Кабинет')(value= doc.place || 000)
                +field('text', 'email', 'Email')(value= doc.email || '')
                +field('number', 'order', 'Порядок')(value= doc.order || 0)