extends ../layout/header
block content
    div#main.index
        section#content.style-blue.col-2
            include ../menu/breadcrumbs-news
            hr.colored
            if main
                .news-item.col-2.top-news
                    include mainItem
            include indexlist
            include moreLinkOnlyNews
        include ../layout/asideNews