extends ../layout/header
block content
    div#main.index
        section#content.style-blue.col-2
            include ../menu/breadcrumbs-news
            hr.colored
            if main
                include mainItem
            include indexlist
            include moreLink
        include ../layout/asideIndex