- var d;
- var i;
- var docsLength = docs.length;

div(class= locals.ajax ? 'ajax' : '').col-1
    - for (i = 0; i < docsLength; i+=3) {
        - d = docs[i]
        include item
    - }
div(class= locals.ajax ? 'ajax' : '').col-1
    - for (i = 1; i < docsLength; i+=3) {
        - d = docs[i]
        include item
    - }
div(class= locals.ajax ? 'ajax' : '').col-1
    - for (i = 2; i < docsLength; i+=3) {
        - d = docs[i]
        include item
    - }
