- var isNews = d.isNews;
- var colorClass = isNews ?  'style-blue' : 'style-green';
- var hasName = translateObj(d.name) !== '';
- var nameClass = hasName ? 'news-item' : 'news-item no-header';

- var linkAddress = isNews ? '/news/' : '/congratulations/';
- var ahref;
if (locals.lang)
    - var ahref = '/' +locals.lang + linkAddress + d.pathAlias + '.html';
else
    - var ahref = linkAddress + d.pathAlias + '.html';

div(class= nameClass + ' ' + colorClass)
    span.time= d.createdAt.format('dd.MM.yyyy ' + translate ('в') + ' hh:mm')
    - var block = translateNews(d.teasernew).blocks[0];
    if hasName
        a(href= ahref).to-full-page
            h3= translateObj(d.name)
        if d.image || d.imagenew
            - var image = d.imagenew
            a(href= ahref, title= block.data.text).imagelink
                img(src= image.file.mUrl, alt= block.data.text, class= image.file.imageType)
        div.teaser.clearfix!= block.data.text
    else
        if d.image || d.imagenew
            - var image = d.imagenew
            a(href= ahref, title= block.data.text).imagelink
                img(src= image.file.mUrl, alt= block.data.text, class= image.file.imageType)
        div.teaser.clearfix
            a(href= ahref, title= block.data.text).to-full-page!= block.data.text