extends ../layout/header
block content
    main(role='main')#main.page
        include ../menu/breadcrumbs-news
        hr.colored
        if translateObj(doc.name)
            h1= translateObj(doc.name)
        -locals.type = '';
        -locals.olympic = '';
        -if (translateObj(doc.type) === 'table') 
            - locals.type = 'table'
        -if (translateObj(doc.type) === 'table olimp')
            - locals.type = 'table'
            - locals.olympic = 'olympic'
        section(class= locals.type === 'table' ? 'col-3 clearfix' : 'col-2 clearfix')#content
            - var blocks
            if doc.imagenew
                - var image = doc.imagenew;
                img(src= image.file.dUrl, class= image.file.imageType)
            if translateObj(doc.bodynew)
                - blocks = translateObj(doc.bodynew).blocks
            else
                - blocks = translateObj(doc.teasernew).blocks
            include ../stuff/sir/sirparser
            include ../layout/asidesmall
        include ../layout/aside