- var date = new Date()
div.news-item.col-2.top-news
    h3 Конкурс #{date.getFullYear()}
    table#statsTable
        thead
            tr
                th Профиль
                th Количество мест/олимп.
                th Количество заявлений
                th Конкурс
        tbody

