- function parse (text) {
	- var html = text
	- function reverse(s){
	-    return s.split("").reverse().join("")
	-}
	- html = html.replace(/\[([^\]]+)\]\(([^\)]+)\)/gm,function(match, p1, p2){
	-      return "<a href='"+p2+"'>"+p1.replace(/\n/g, '')+"</a>"
	-  })

	- html = reverse(html)
	- html = html.replace(/_(?!\\)((_\\|[^_])*)_(?=$|[^\\])/gm, function(match, p1) {
	-        return ">i/<"+ p1.replace(/\n/g, '').replace(/[\s]+$/,'') +">i<"
	-  })
	- html = html.replace(/\*\*(?!\\)((\*\*\\|[^\*\*])*)\*\*(?=$|[^\\])/gm, function(match, p1){
	-        return ">b/<"+ p1.replace(/\n/g, '').replace(/[\s]+$/,'') +">b<"
	-  })
	- html = reverse(html)

	- html = html.replace(/\t/g, "&nbsp;&nbsp;&nbsp;&nbsp;").replace(/\n/g, "<br>").replace(/\*\*/, "").replace(/__/, "")
	- html = html.replace(/\\\*/g, "*").replace(/\\\[/g, "[").replace(/\\\]/g, "]").replace(/\\\_/g, "_").replace(/\\\(/g, "(").replace(/\\\)/g, ")").replace(/\\\-/g, "-")

	- html =  html.replace(/^\> (.+)$/mg,"$1")

	- return html
-}