each block in blocks
	if !block.data.commented
		case block.type
			when "header"
				include sirheading
			when "paragraph"
				include sirtext
			when "table"
				include sirtable 
			when "list"
				include sirlist   
			when "image"
				include sirimage
			when "delimiter"
				include pagebreak
			when "embed"
				include sirvideo                  
			when "shopbutton"
				include shopbutton