- var html = '';//<table><caption contenteditable></caption><thead><tr></tr></thead><tbody></tbody></table>';
- var lines = block.data.content;
- var caption_re = /\[(.*)\]/;
- var lastlineFirstColumn;
- var clss;
- var row;
- var rowcells;
- var cellcontent;
- var medals;
      
- lastlineFirstColumn = lines[lines.length-1][0];
if lastlineFirstColumn.match(caption_re)
    - clss = lastlineFirstColumn.match(caption_re)[1];
    - lines = lines.slice(0, lines.length-1);
- html += '<thead><tr>';
- var captioncells = lines[0];
each content in captioncells
    - html += '<th>' + content + '</th>';
- html += '</tr></thead>';

- html +='<tbody>';
                
- var rows = lines.slice(1, lines.length)
    each line in rows
        - row = '<tr>';
        - rowcells = line;
        each cellcontent in rowcells //(line.split(" | "), function(content) {
            if locals.olympic
                - medals = [];
                if cellcontent.trim() === 'n'
                    - cellcontent = '<span class="o-n"></span>';
                else
                    - medals = cellcontent.trim().split(' ');
                    if medals.length === 4
                        - cellcontent = '';
                        if medals[0] != 0
                            - cellcontent += '<span class="o-g">' + medals[0] + '</span>';
                        if medals[1] != 0
                            - cellcontent += '<span class="o-s">' + medals[1] + '</span>';
                        if medals[2] != 0
                            - cellcontent += '<span class="o-b">' + medals[2] + '</span>';
                        if medals[3] != 0
                            - cellcontent += '<span class="o-d">' + medals[3] + '</span>';
            - row += '<td>' + cellcontent + '</td>';
        - row += '</tr>';
        - html += row;
- html += '</tbody>';
if locals.type
    table(class = locals.type + ' ' + locals.olympic)!= html
else
    table(class= clss)!= html 