- var markdown = block.data.text;
- var html = '';//<table><caption contenteditable></caption><thead><tr></tr></thead><tbody></tbody></table>';
- var lines = markdown.split("\n");
- var caption_re = /\[(.*)\]/;
- var lastline;
- var clss;
      
- lastline = lines[lines.length-1];
if lastline.match(caption_re)
    - clss += lastline.match(caption_re)[1];
    - lines = lines.slice(0, lines.length-1);
- html += '<thead><tr>';
- var captioncells = lines[0].split(" | ");
each content in captioncells
    - html += '<th>' + parse(content) + '</th>';
- html += '</tr></thead>';

- html +='<tbody>';
                
- var rows = lines.slice(2, lines.length)
    each line in rows
        -   var row = '<tr>';
        -   var rowcells = line.split(" | ");
        each content in rowcells //(line.split(" | "), function(content) {
            - row += '<td>' + parse(content) + '</th>';
        -   row += '</tr>';
        -   html += row;
- html += '</tbody>';
if locals.type
    table(class = locals.type + ' ' + locals.olympic)!= html
else
    table(class= clss)!= html