include ../stuff/mixins/form-helper
extends ../adminLayout

block content
    div.page-header
        if doc.name.ru
            h1 Редактирование страницы
        else
            h1 Новая страница
    form.form-horizontal(method='post', action='/admin/pages')
        div.row
            div.panel.panel-default
                ul.nav.nav-tabs#tabNav
                    li.active 
                        a(href='#ru', data-toggle="tab") RU
                    li 
                        a(href='#by', data-toggle="tab") BY
                    li 
                        a(href='#en', data-toggle="tab") EN
                br
                div.tab-content
                    div.tab-pane.fade.in.active#ru
                        +field('text', "name.ru", 'Название')(value= doc.name.ru || '')
                        +field('textarea', "body.ru", 'Содержание')#body-ru(rows='15') 
                            !=doc.body.ru || ''
                        +field('textarea', "keywords.ru", 'Ключевые слова')(rows='2')
                            != doc.keywords.ru || ''
                        +field('textarea', "description.ru", 'Описание')(rows='2')
                            != doc.description.ru || ''
                    div.tab-pane.fade#by
                        +field('text', "name.by", 'Название')(value= doc.name['by'] || '')
                        +field('textarea', "body.by", 'Содержание')#body-by(rows='15')
                            !=doc.body.by || ''
                        +field('textarea', "keywords.by", 'Ключевые слова')(rows='2')
                            != doc.keywords.by || ''
                        +field('textarea', "description.by", 'Описание')(rows='2')
                            != doc.description.by || ''
                    div.tab-pane.fade#en
                        +field('text', "name.en", 'Название')(value= doc.name['en'] || '')
                        +field('textarea', "body.en", 'Содержание')#body-en(rows='15')
                            !=doc.body.by || ''
                        +field('textarea', "keywords.en", 'Ключевые слова')(rows='2')
                            != doc.keywords.en || ''
                        +field('textarea', "description.en", 'Описание')(rows='2')
                            != doc.description.en || ''
        if doc.name.ru
            +field('text', 'pathAlias', 'Путь')(value= doc.pathAlias || '')            
       
        +field('number', 'order', 'Order')(value= doc.order || 0)
        div.row
            label.col Родительская страница:
            div.col.col-lg-12
                select(name='parentpage')
                    option(value='') Нет
                    each parent in parents
                      option(value= parent.id, selected= doc.parentpage == parent.id)= parent.name.ru
        
        +buttonSet

block scripts
    include ../stuff/adminScriptBlock