extends ../layout/header
block content
    main(role='main')#main.page
        include ../menu/breadcrumbs

        hr.colored

        include ../menu/subMenu
                
        -locals.type = '';
        -locals.olympic = '';
        if (translateObj(doc.type) === 'table') 
            - locals.type = 'table'
        if (translateObj(doc.type) === 'olymp')
            - locals.type = 'table'
            - locals.olympic = 'olympic'
        section(class= locals.type === 'table' ? 'col-3' : 'col-2')#content
            h1= translateObj(doc.name)

            
            - var blocks = translateObj(doc.bodynew).blocks
            include ../stuff/sir/sirparser 
            if (siteConfig.showPupilCabinet && doc.pathAlias === 'abiturientu')
                include ../results/cabinetLink

            include ../layout/asidesmall
        include ../layout/aside