include header
h3 Первый экзамен закончился, впереди второй

if ((profile.firstIsFirst && data.exam1 >= 0) || (!profile.firstIsFirst && data.exam2 >= 0))
    if (profile.firstExamNoStats)
        h4 Ваш результат первого экзамена по предмету #{profile.firstIsFirst ? profile.firstExamName : profile.secondExamName}:
        h3 #{profile.firstIsFirst ? data.exam1 : data.exam2}
    else
        +resultLine(profile, data, 1)
        p 
            b * 
            | - текущий проходной балл по первому экзамену
else
    +absent('первый')
    
hr.dotted

include nextExam

include ../../pupils/partials/results/footer