include header
h3 Второй экзамен закончился
            
+resultLine(profile, data, 1)

p 
	b * 
	| - текущий проходной балл по первому экзамену

hr.dotted
            
+resultLine(profile, data, 2)
	
p 
	b * 
	| - текущий проходной балл по второму экзамену

hr.dotted
h4 Скоро появятся результаты зачисления...
include footer