include header
h3 Второй экзамен закончился

if ((profile.firstIsFirst && data.exam1 > 0) || (!profile.firstIsFirst && data.exam2 > 0))
	+resultLine(profile, data, 1)
	p 
		b * 
		| - текущий проходной балл по первому экзамену
else
	+absent('первый')         

hr.dotted

if ((profile.firstIsFirst && data.exam2 > 0) || (!profile.firstIsFirst && data.exam1 > 0))
	+resultLine(profile, data, 2)
	p 
		b * 
		| - текущий проходной балл по второму экзамену
else
	+absent('второй')

hr.dotted
h4 Скоро появятся результаты зачисления...
include footer