h3.result-header Поздравляем! 
	br 
	| Вы&nbsp;рекомендованы к&nbsp;зачислению в&nbsp;Лицей&nbsp;БГУ
h4 Чтобы всё было хорошо, Вам нужно до 23 июня 2016 г. предоставить в приемную комиссию следующие документы:
ul
	li Cвидетельство об общем базовом образовании
	li Медицинскую справку о состоянии здоровья формы №1
	li Шесть фотографий 3х4