include dateFormat
include resultLine
p Здравствуйте, #{data.lastname} #{data.firstname} #{data.patronymic}!
	br
	| Вы подали документы для поступления в Лицей БГУ по специальности 
	b #{profile.name}